[phases.setup]
nixPkgs = ["nodejs_20", "openssl"]

[phases.install]
cmds = ["npm i -g pnpm@10.28.2", "export PATH=$PATH:/usr/local/lib/node_modules/pnpm/bin:/root/.npm-global/bin:$(npm root -g)/.bin && pnpm install"]

[phases.build]
cmds = [
  "pnpm build:api",
  "pnpm build:voice-engine", 
  "pnpm build:dashboard"
]

[start]
cmd = "pnpm start"