[phases.setup]
nixPkgs = ["nodejs_20", "openssl"]

[phases.install]
cmds = ["npm i -g pnpm@10.28.2", "npx pnpm install"]

[phases.build]
cmds = ["npx pnpm build:api", "npx pnpm build:voice-engine", "npx pnpm build:dashboard"]

[start]
cmd = "npx pnpm start"