@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: 0 0% 100%;
  --foreground: 222.2 84% 4.9%;
  --primary: 199 89% 48%;
  --primary-foreground: 210 40% 98%;
}

body {
  background-color: #f9fafb;
  color: #111827;
}